:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    white,
    white,
    white,
    white,
    white,
    white,
    white
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .login-form {
    width: 90%; 
   
    margin: 10px auto;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .logo {
    text-align: center;
  }
  
  .logo img {
    max-width: 40%; 
  }
  
  form {
    padding: 20px;
  
  }
  
  .input-group {
    margin-bottom: 10px;
    
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #04a6d7;
    color: white;
  }
  
  #login-btn {
    margin-bottom: 10px;
  }
  
  #create-btn {
    background: white;
    border-color: #bec3c9;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #000;
    display: inline-block;
    flex: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.23px;
    text-align: center;
    text-shadow: none;
    white-space: nowrap;
    

  }
  
  a {
    display: block;
    text-align: center;
  }
  
  hr {
    margin: 10px 0;
  }
  
  .language-selector {
    margin-top: 10px;
  }
  
  .language-selector select {
    width: 100%;
  }
  
  .footer {
    padding: 10px;
  }
  .language-selector {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    width: 48%; 
    text-align: center;
  }
  .horizontal-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .horizontal-align hr {
    flex: 1;
    border: none;
    margin-top: 50px;
    border-top: 1px solid #000; 
  }
  
  .horizontal-align p {
    margin: 0 10px;
  }
  
  .column p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  
  .column a {
    text-decoration: none;
    color: #333; 
    transition: color 0.3s;
  }
  
  .column a:hover {
    color: #0077b5;
  }
  
 
  @media (max-width: 767px) {
    .login-form {
      margin: 10px; 
    }
  
    .logo img {
      width: 80%; 
    }
  }
  